

<h1><center>Welcome to The Earth Genome</center></h1>
<h2><center>The Earth Genome will provide unparalleled access to the best data, analytics and decision making tools related to planetary resilience and human well-being.</center></h2>
<h3><center>Our mission is to ensure all the world's key decision makers account for natural capital.</center></h3>

